@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'static_pages';
@import 'rooms';
@import 'users';

// universal
body {
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}

section {
  overflow: auto; // はみ出た部分の表示方法
}

textarea {
  resize: vertical; // 縦のみリサイズ可能
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; // 行間調節
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  font-weight: normal;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.count {
  padding-top: 15px;
  padding-right: 8px;
  color: white;
}

// footer

footer {
  margin-top: auto;
  border-top: 1px solid $gray-light;
  .container {
    margin-top: 10px;
  }
  ul {
    float: right;
    list-style: none;
    font-size: medium;
    li {
      float: left;
      margin-left: 20px;
    }
  }
}
