// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-container {
  margin-top: 20px;
}

.messages_area, .personal_messages_area {
  height: 70vh;
  overflow: scroll;
  padding: 0 10px;
}

.self_message, .other_message, .friend_message {
  padding: 10px;
  margin-bottom: 10px;
}

.self_message {
  border-radius: 20px 20px 0 20px;
  margin-left: 70%;
}

.other_message, .friend_message {
  border-radius: 20px 20px 20px 0;
  background-color: silver;
  margin-right: 70%;
}

.form_area {
  bottom: 10%;
  margin-left: 10px;
}
